body{background-color: aquamarine;margin: 20px;}

h1{color: chartreuse; font-style: italic;}

h2{color: darkgray; font-style: inherit;}

h4{color: lavender; font-style: initial;}

#page_title{color: lawngreen;font-weight: bold;font-size: 3rem;border: black solid;padding: 25px;margin: 40px;}

a{color: coral;text-decoration: none;}